<div id="page-footer" class="footer page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-desktop-3">
        <figure class="page-logo-footer"><a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/assets/images/logo.png" alt="" width="200" height="50" class="page-logo-footer__image"></a></figure>
      </div>
      <div class="col-4 col-desktop-3">
        <div class="page-footer__slot">
          <div class="page-footer__meta">
            <nav class="social__nav">
              <h6 class="meta__title meta__title--footer"><i class="fa fa-share-alt"></i> Follow Us</h6>
              <ul class="social__list">
                <li class="social__item"><a href="https://www.facebook.com/AustinDuckAdventures" class="social__link" target="_blank">
                  <img src="{{ baseUrl }}/assets/images/facebook.png" class="social__image"></a></li>
                <li class="social__item"><a href="https://www.instagram.com/austin_ducks/" class="social__link" target="_blank">
                  <img src="{{ baseUrl }}/assets/images/instagram.png" class="social__image"></a></li>
                <li class="social__item"><a href="https://www.yelp.com/biz/austin-duck-adventures-austin" class="social__link" target="_blank">
                  <img src="{{ baseUrl }}/assets/images/yelp.png" class="social__image"></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-4 col-desktop-3">
        <div class="page-footer__slot">
          <div class="page-footer__meta">
            <h6 class="meta__title meta__title--footer">
              <i class="fa fa-map-marker-alt"></i> Location
            </h6>
            <address class="meta__address meta__address--footer">103 E 5th Street<br>Austin, Texas 78701</address><a href="https://maps.app.goo.gl/4CB2W3KLr5J28GYb6" class="meta__link--yellow link-redirect">Open in Google Maps</a>
          </div>
        </div>
      </div>
      <div class="col-4 col-desktop-3">
        <div class="page-footer__slot">
          <div class="page-footer__meta">
            <h6 class="meta__title meta__title--footer">
              <i class="fa fa-phone"></i> Telephone
            </h6>
            <span class="meta__telephone meta__telephone--footer"><a href="tel:5124775274">(512) 4-SPLASH</a> or<br><a href="tel:5124775274">(512) 477-5274</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="page-footer__imprint">
          <strong>Austin Duck Adventures</strong> Copyright 2016. All rights reserved.
          <br>
          <a href="{{ baseUrl }}/privacy-policy-and-terms-and-conditions/" class="meta__link--yellow"><div class="meta__address--footer">Privacy Policy + Terms & Conditions</div></a>
        </p>
      </div>
    </div>
  </div>
</div>
