<div class="page-header--fixed">
  <figure class="page-logo">
    <a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/assets/images/logo.png" alt="Austin Duck Adventures" class="logo"></a>
  </figure>
  <div id="page-header--pre" class="page-header--pre page-header--animated">
    <p class="header--pre">
      <i class="fa fa-phone"></i>
      <a href="tel:5124775274">(512) 477-5274</a>
      <i class="fa fa-map-marker-alt"></i>
      <a href="https://maps.app.goo.gl/4CB2W3KLr5J28GYb6" class="meta__link--red link-redirect" target="_blank">103 E 5th Street Austin, Texas 78701</a>
    </p>
  </div>
  <header id="page-header" class="page-header page-header--animated">
    <nav class="page-nav">
      <ul class="page-nav__list">
        <li class="page-nav__item"><a href="{{ baseUrl }}/#about" title="" class="page-nav__link page-nav__link--subnav-trigger js-subnav-trigger js-scroll-to">About</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/tours/" title="" class="page-nav__link js-scroll-to">Tours</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/parties/" title="" class="page-nav__link js-scroll-to">Parties</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/gallery/" title="" class="page-nav__link js-scroll-to">Gallery</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/safety/" title="" class="page-nav__link js-scroll-to">Safety</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/#reviews" title="" class="page-nav__link js-scroll-to">Reviews</a></li>
        <li class="page-nav__item"><a href="{{ baseUrl }}/#contact" title="" class="page-nav__link js-scroll-to">Contact</a></li>
      </ul>
    </nav>
    <a href="https://www.reservationgenie.com/62-austin-duck-adventures-austin/reservations/tours/calendar" title="" class="tickets-link"><img src="{{ baseUrl }}/assets/images/tickets.png" alt="" class="tickets--navbar"></a>
    <a href="javascript:void(0)" title="Site Navigation" id="page-nav-button" class="page-nav-button">
      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </header>
</div>
