<!DOCTYPE html>
<!--[if IE 8] <html class="no-js lt-ie9"> ![endif]-->
<!--[if gt IE 8] <!--> <html class="ie" lang="en"> <!-- ![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ title or "Austin Duck Adventures" }}</title>
  <meta name="description" content="{{ description or 'Austin Duck Tours | We feature land and lake Austin tours to view area sightseeing with a splash in Lake Austin. One of Austin\'s top tours!' }}">
  <meta name="author" content="Reservation Genie">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

  <!-- favicons-->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}/assets/images/favicons/apple-touch-icon-180x180.png">

  <link rel="icon" type="image/png" href="{{ baseUrl }}/assets/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ baseUrl }}/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ baseUrl }}/assets/images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ baseUrl }}/assets/images/favicons/favicon-16x16.png" sizes="16x16">

  <link rel="manifest" href="{{ baseUrl }}/assets/images/favicons/manifest.json">
  <link rel="mask-icon" href="{{ baseUrl }}/assets/images/favicons/safari-pinned-tab.svg" color="#03c296">
  <link rel="shortcut icon" href="{{ baseUrl }}/assets/images/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ baseUrl }}/assets/images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="{{ baseUrl }}/assets/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Playfair+Display:700italic" rel="stylesheet" type="text/css">

  <!--css-->
  <link href="{{ baseUrl }}/assets/css/style.css" rel="stylesheet" type="text/css">

  <!-- Aswesome Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">

  <!--modernizr-->
  <script type="text/javascript" src="{{ baseUrl }}/assets/js/modernizr.min.js"></script>
  <!--[if lt IE 9] <script src="{{ baseUrl }}/assets/js/ie.min.js"></script> ![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20498804-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L697GT3MZR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-L697GT3MZR');
  </script>

  <!-- Schema.org JSON-LD -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "TouristAttraction",
    "name": "Austin Duck Adventures",
    "alternateName": "Austin Duck Tours",
    "description": "Austin Duck Adventures offers amphibious land and lake tours of downtown Austin and Lake Austin in US Coast Guard approved Hydra Terra vehicles. Experience 75 minutes of sightseeing including Historic Sixth Street, the State Capitol Building, the Governor's Mansion, and a splash into Lake Austin.",
    "url": "https://austinducks.com",
    "telephone": "+1-512-477-5274",
    "image": "https://austinducks.com/assets/images/logo.png",
    "logo": "https://austinducks.com/assets/images/logo.png",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "103 E 5th Street",
      "addressLocality": "Austin",
      "addressRegion": "TX",
      "postalCode": "78701",
      "addressCountry": "US"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 30.266677,
      "longitude": -97.744965
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
      "opens": "09:00",
      "closes": "18:00"
    },
    "sameAs": [
      "https://www.facebook.com/austinduckadventures",
      "https://www.instagram.com/austinduckadventures",
      "https://www.tripadvisor.com/Attraction_Review-g30196-d271910-Reviews-Austin_Duck_Adventures-Austin_Texas.html"
    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "500",
      "bestRating": "5",
      "worstRating": "1"
    },
    "touristType": ["Family", "Couples", "Groups"],
    "isAccessibleForFree": false,
    "publicAccess": true
  }
  </script>
</head>
<body class="{{ bodyClass or '' }}">

  {% include "header.njk" %}

  {{ content | safe }}

  {% include "footer.njk" %}

  {% include "scripts.njk" %}

  {{ extraScripts | safe }}
</body>
</html>
