---
layout: base.njk
title: Austin Duck Adventures | Tours
description: Austin Duck Adventures offers one of the top Austin tours featuring a cruise through 6th street, the state capitol, and a splash into Lake Austin!
---

<section data-parallax="scroll" id="tours" class="section section--parallax tours" data-image-src="{{ baseUrl }}/assets/images/background2.jpg">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-desktop-10 col-hd--modified">
          <div class="section-box">
            <header>
              <h2 class="section__title" id="tours">Tours</h2>
            </header>
            <p class="lead">Tours Run 7 Days a Week</p>
            <p>
              Tours times are from 11am to 4pm with individual times subject to change based on seasonal conditions, holidays, weather and more. The best way to way to see tours times on an individual date is to <strong>
              <a href="https://www.reservationgenie.com/62-austin-duck-adventures-austin/reservations/tours/calendar" target="_blank"> use this link to view the booking calendar</a></strong> and buy tickets in advance!
            </p>
            <header>
              <h2 class="section__title section__title--padding" id="prices">Prices</h2>
            </header>
            <p>
              Call <a href="tel:5124775274">512-4-SPLASH</a> or click the tickets icon to purchase tickets or call to make reservations.  Charters are available. We accept all major credit cards. Tax is NOT included in the price.
            </p>
            <div class="row">
              <div class="col-12 col-tablet-6 col-desktop-6">
                <p class="about__text">
                  <strong>Adults:</strong> $43.50<br>
                  <strong>Students:</strong> $39.50<br>
                  <strong>Seniors (55+):</strong> $39.50<br>
                  <strong>Military:</strong> $39.50<br>
                  <strong>Children (Age 3-12):</strong> $ 28.50<br>
                  <strong>Children (2 and Under):</strong> Free<br>
                </p>
              </div>
              <div class="col-12 col-tablet-6 col-desktop-6">
                <a href="https://www.reservationgenie.com/62-austin-duck-adventures-austin/reservations/tours/calendar" target="_blank">
                  <img src="{{ baseUrl }}/assets/images/tickets.png" alt="" class="tickets--tours">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
