---
layout: base.njk
title: Austin Duck Adventures | Gallery
description: Photo gallery of Austin Duck Adventures tours
---

<section data-parallax="scroll" id="gallery" class="section section--parallax gallery__background">
  <div id="gallery">
    <div itemtype="http://schema.org/ImageGallery" class="gallery js-photoswipe-gallery itemscope">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g1.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t1.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Say hi!</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g2.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t2.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Hello from the capital</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g3.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t3.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Capital</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g4.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t4.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Downtown</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g5.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t5.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Chugging along</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g6.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t6.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Howdy</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g7.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t7.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Kids love it!</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g8.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t8.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Fun for all ages!</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g9.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t9.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Double quack</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g10.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t10.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Choo Choo</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g11.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t11.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Beautiful views</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g12.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t12.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Get ready, set...</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g13.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t13.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Splash!</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g14.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/t14.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">Whoosh!</figcaption>
    </figure>
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="{{ baseUrl }}/assets/images/gallery/g15.jpg" itemprop="contentUrl" data-size="1200x800"><img src="{{ baseUrl }}/assets/images/gallery/g15.jpg" itemprop="thumbnail" alt="Image name" class="gallery__image"></a>
      <figcaption itemprop="caption description" class="gallery__caption">And more wonderful views</figcaption>
    </figure>
  </div>
  <!-- PhotoSwipe plugin structure -->
  <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
          <button title="Share" class="pswp__button pswp__button--share"></button>
          <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
          <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
        <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
