---
layout: base.njk
title: Austin Duck Adventures | Parties
description: Group and private lake tours in Austin, Texas with Austin Duck Adventures
---

<section data-parallax="scroll" id="tours" class="section section--parallax parties" data-image-src="{{ baseUrl }}/assets/images/background4.jpg">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-desktop-10 col-hd--modified">
          <div class="section-box">
            <header>
              <h2 class="section__title" id="parties">Parties</h2>
            </header>
            <p class="lead">
              Group and Private Lake Tours in Austin, Texas
            </p>
            <p>
              Have a group of co-workers, friends, or clients you want to show around the city? A great option on the Ducks is taking one of our group and private lake tours in Austin, Texas.
              <br><br>
              This tour is great for corporate events, weddings, birthdays, field trips, bachelor and bachelorette parties or JUST BECAUSE! Each duck can hold up to 44 people with life vests and child friendly features aboard.
            </p>
            <div class="row">
              <div class="col-12 col-tablet-6 col-desktop-6">
                <p class="subheading--red">Included</p>
                <p class="about__text">
                  <ul>
                    <li>Tours run approximately 1.5 hours with the option of adding extra time</li>
                    <li>We offer customized routes and pick up times so you can see your favorite parts of the city!</li>
                    <li>Each duck can accommodate up to 44 guests</li>
                  </ul>
                </p>
              </div>
              <div class="col-12 col-tablet-6 col-desktop-6">
                <p class="subheading--red">Prices</p>
                <p class="about__text">
                  <ul>
                    <li class="no-bullets">
                      <strong>Monday - Thursday:</strong><br>$1100 (plus Tax)<br>$200 Extra 1/2 Hour<br>$400 Extra Hour
                    </li>
                    <li class="no-bullets"><strong>Friday - Sunday:</strong><br> $1300 (plus Tax)<br>$300 Extra 1/2 Hour<br>$600 Extra Hour</li>
                    <li class="no-bullets"><strong>Special School Pricing:</strong> $795 (tax exempt)</li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
